<form action = "/sign_up_submit" method = "POST">
    <h3>Sign up</h3>
    <input type = "text" name = "name" placeholder = "name"/><br>
    <input type = "text" name = "email" placeholder = "email"/><br>
    <input type = "username" name = "username" placeholder = "username"/><br>
    <input type = "password" name = "password" placeholder = "password"/><br>
    <button type = "submit">SignUp</button>
</form>
